<h2>{{ alert }}</h2>
<div  id="word" *ngFor="let word of splitword; let j=index;">
  <div *ngFor="let letter of splitword[j]; let i=index;" [ngClass]="{
    redfailed: letter != podiumword.charAt(i),
    orangeranged: podiumword.includes(letter) && letter != podiumword.charAt(i),
    greenguessed: letter == podiumword.charAt(i)
    }" >
  {{letter}}
  </div>
</div>
<input type="text" [(ngModel)]="sentword"  (keyup.enter)="validate()" maxlength="{{podiumword.length}}"  autofocus/>
<button type="submit"  (click)="validate()"  >Enviar</button>
