#word{
  font-size: 40px;
  font-weight: bold;
  display: flex;

  justify-content: center;
  align-items: center;
}

.redfailed{
  color: red;
}

.greenguessed{
  color: green;
}

.orangeranged{
  color: orange;
}
