
<h2>{{ alert }}</h2>
<div  id="word" *ngFor="let word of splitword; let j=index;">
  <div *ngFor="let letter of splitword[j]; let i=index;" [ngClass]="{
    redfailed: letter.toLowerCase() != podiumword.charAt(i).toLowerCase(),
    orangeranged: podiumword.includes(letter) && letter.toLowerCase() != podiumword.charAt(i).toLowerCase(),
    greenguessed: letter.toLowerCase() == podiumword.charAt(i).toLowerCase()
    }" >
  {{letter.toUpperCase()}}
  </div>
</div>
<input type="text" [(ngModel)]="sentword"  (keyup.enter)="validate()" maxlength="{{podiumword.length}}"  autofocus/>
<button type="submit"  (click)="validate()"  >Enviar</button>

